
<div class = "span6 offset3">

	<div class="menu">

		<form>
			
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>

	<legend>
	<h4>Login to SongBird</h4>
	</legend>
		
		<h5> Email </h5>

	  		<%= f.input_field :email %>

	  	<h5> Password </h5>
	  
	  		<%= f.input_field :password %>

	  <div class="form-actions">
	   		<%= f.submit "Log into SongBird", class: "btn btn-primary" %>
	  </div>

	<% end %>

</form>

	</div>

	<%= render "devise/shared/links" %>
</div>

	

