
<div class="musiciansignupcontainer">

<div class = "appheadtext">

<h3>Apply to be a</h3>

</div>

<div class = "appheadtext">

<h3>SongBird Musician</h3>

<h3>Get high quality gig requests from local event planners </h3>

</div>

<div class="musiciansignuppadding">

<div class = "haveacct">
    Already have an account? <a href="http://localhost:3000/users/sign_in">Login</a>
</div>

<h4> </h4>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-vertical'}) do |f| %>

  
<div class="musiciansignupform">

  <h5> Full Name </h5>

    <%= f.input :name, :label => false, :placeholder =>'Full Name' %>

  <h5> Phone Number </h5>

    <%= f.input :phone, :label => false, :placeholder =>'Phone Number' %>

    <h5> Email Address </h5>

    <%= f.input :email, :label => false, :placeholder =>'Email Address' %>


  <h5> Music Category </h5>

    <%= f.input :music_type, :label => false, :placeholder =>'Phone Number' %>

  <h5> Zip Code </h5>

    <%= f.input :zip, :label => false, :placeholder =>'Password' %>

    <h5> Password </h5>

    <%= f.input :password, :label => false, :placeholder =>'Email Address' %>


</div>

<div class="usersignupbtn">
 
    <%= f.submit "Submit", class: "btn btn-primary" %>

</div>   


<% end %>

<ul>
  <%= render "devise/shared/links" %>

</ul>

</div>

</div>
