<div class="musiciansignupcontainer">

<div class = "appheadtext">

<h3>Request Live Music</h3>

<h3>From High Quality Local Musicians </h3>

</div>


<div class="musiciansignuppadding">

<%= simple_form_for(@gig, html: { class: "form-vertical"}) do |f| %>

	<div class="musiciansignupform">

		<h5> I want ... </h5>

 <%= f.select :music_type, [['a Band','Band'],['a DJ','DJ'],['Classical Musicians','Classical Musician']] %>


 		<h5> For my ... </h5>

 <%= f.select :event_type, [['Corporate Event','corporate event'],['Private Event','private event'],['Music Venue', 'music venue']] %>

 <h5> On ... </h5>

 <%= f.datetime_select :event_date %>

 <h5> For this many hours ... </h5>

 <%= f.input :event_duration, :label => false, :placeholder =>'Event Duration' %>

  <h5> In the Following Zip Code ... </h5>

 <%= f.input :event_zip, as: :string, :label => false, :placeholder =>'Zip Code' %>

 <h5> I am willing to pay ... </h5>

 <%= f.input :event_price, as: :string , :label => false, :placeholder =>'Event Price' %>

<h5> Additional Comments </h5>
  <%= f.input :desription, input_html: { rows: "3" }, :label => false, :placeholder =>'Additional Comments' %>

	</div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>

</div>

</div>

</div>