
<tr>

<% if user_signed_in? %>

	<% if current_user == gig.user %>

		<td>
			<% if gig.music_type == "DJ" %> 
				<img src="images/pic-dj.png" alt="">
			<% elsif gig.music_type == "Classical Musician" %>
				<img src="images/pic-classical.png" alt="">
			<% elsif gig.music_type == "Band" %>
				<img src="images/pic-band.png" alt="">
			<% end %>

		</td>

		<td> <a href="shane.com"> <%=gig.event_date.strftime("%B %d, %Y")%> </a> </td>

		

	    <td>
	   
	    		<%= gig.user_id %>

	    </td>

	    <td>
	   
	    		<%= render @bids %>

	    </td>

	    
	    <td>
				<%= link_to 'Review Request Details',  gig , class: "btn btn-medium btn-primary" %>

		</td>

		<td>
				<%= link_to 'Cancel Request',  gig, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-medium btn-primary" %>

		</td>


	<% end %>

<% elsif musician_signed_in? %>

<td>
			<% if gig.music_type == "DJ" %> 
				<img src="images/pic-dj.png" alt="">
			<% elsif gig.music_type == "Classical Musician" %>
				<img src="images/pic-classical.png" alt="">
			<% elsif gig.music_type == "Band" %>
				<img src="images/pic-band.png" alt="">
			<% end %>

		</td>

		<td> <a href="shane.com"> <%=gig.event_date.strftime("%B %d, %Y")%> </a> </td>

		

	    <td>
	   
	    		<%= gig.event_zip %>

	    </td>

	    <td>
	   
	   			<%= gig.event_price %>
	    		

	    </td>

	    
	    <td>
				<%= link_to 'Bid on this Gig',  make_bids_path , class: "btn btn-medium btn-primary" %>

		</td>

		<td>
				<%= link_to 'Cancel Request',  gig, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-medium btn-primary" %>

		</td>

<%end%>

  </tr>

 </a>