<tr>
    
<% if current_user == gig.user %>
	
	<td> <%=gig.music_type%> Request for <%=gig.event_date%> </td>

	

    <td>

    		<%= link_to 'Review Request Details',  gig , class: "btn btn-medium btn-primary" %>


    </td>

    
    <td>
			<%= link_to 'Proposals Received',  new_user_registration_path , class: "btn btn-medium btn-primary" %>

	</td>

	<td>
			<%= link_to 'Cancel Request',  gig, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-medium btn-primary" %>

	</td>


	<% end %>
  </tr>