<tr>
    
<% if current_user == gig.user %>
	<td><%= image_tag gig.image (:medium) %></td>
    <td><%= gig.desription %></td>
    <td><%= link_to 'Show', gig %></td>


    <td><%= link_to 'Edit', edit_gig_path(gig) %></td>
    <td><%= link_to 'Destroy', gig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>