<!DOCTYPE html>
<html>
<head>

  <title>ProjectPhoenix</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  
</head>
<body>

  <!--

	   ruby render 'layouts/header'


            ruby flash.each do |name, msg| %>
                ruby content_tag(:div, msg, class: "alert alert-#{name}") %>
            rub end %>

  -->

    <%= yield %>

</body>


    <%= render 'layouts/footer' %>


</html>
